<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side">
    <mat-nav-list>
      <mat-list-item [routerLink]="['/accueil']">
        <span class="full-width">{{ 'drawer.accueil' | translate }}</span>
        <mat-icon mat-list-icon>home</mat-icon>
      </mat-list-item>
      <mat-list-item [routerLink]="['/visites']">
        <span class="full-width">{{ 'drawer.visites' | translate }}</span>
        <mat-icon mat-list-icon>home</mat-icon>
      </mat-list-item>
      <mat-list-item [routerLink]="['/avis']">
        <span class="full-width">{{ 'drawer.avis' | translate }}</span>
        <mat-icon mat-list-icon>home</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
</mat-drawer-container>
